<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ICPIN</key>
		<string>35</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R0C0</string>
		<key>Position</key>
		<string>1</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>34</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R1C0</string>
		<key>Position</key>
		<string>6</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>33</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R2C0</string>
		<key>Position</key>
		<string>11</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>32</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R3C0</string>
		<key>Position</key>
		<string>16</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>31</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R4C0</string>
		<key>Position</key>
		<string>21</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>30</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R5C0</string>
		<key>Position</key>
		<string>26</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>29</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R5C1</string>
		<key>Position</key>
		<string>27</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>28</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R0C1</string>
		<key>Position</key>
		<string>2</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>27</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R1C1</string>
		<key>Position</key>
		<string>7</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>26</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R2C1</string>
		<key>Position</key>
		<string>12</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>25</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R3C1</string>
		<key>Position</key>
		<string>17</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>24</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R4C1</string>
		<key>Position</key>
		<string>22</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>23</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R5C2</string>
		<key>Position</key>
		<string>28</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>22</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R4C2</string>
		<key>Position</key>
		<string>23</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>21</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R0C2</string>
		<key>Position</key>
		<string>3</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>20</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R1C2</string>
		<key>Position</key>
		<string>8</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>19</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R2C2</string>
		<key>Position</key>
		<string>13</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>18</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R3C2</string>
		<key>Position</key>
		<string>18</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>17</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R4C3</string>
		<key>Position</key>
		<string>24</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>16</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R3C3</string>
		<key>Position</key>
		<string>19</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>15</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R2C3</string>
		<key>Position</key>
		<string>14</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>14</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R1C3</string>
		<key>Position</key>
		<string>9</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>13</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R0C3</string>
		<key>Position</key>
		<string>4</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>12</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R5C3</string>
		<key>Position</key>
		<string>29</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>11</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R5C4</string>
		<key>Position</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>10</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R4C4</string>
		<key>Position</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>9</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R3C4</string>
		<key>Position</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>8</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R2C4</string>
		<key>Position</key>
		<string>15</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>7</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R1C4</string>
		<key>Position</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ICPIN</key>
		<string>6</string>
		<key>ProductPIN</key>
		<string></string>
		<key>RC</key>
		<string>R0C4</string>
		<key>Position</key>
		<string>5</string>
	</dict>
</array>
</plist>
